*{
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}
ul {
    float: right;
    list-style-type: none;
    margin-top: 25px;
    margin-right: 15%;
}
ul li {
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: grey;
    padding: 5px 20px;
    border: 1px solid transparent;
    transition: 0.6s;
}
ul li a:hover {
    background-color: #F5DEB3;
    color: black;
}
ul li.active a{
    background-color: #F5DEB3;
    color: black;
}
.logo img{
    float: left;
    width: 150px;
    height: auto;
    margin-left: 15%;
}
.nav-bar {
    margin: auto;
    height: 80px;
    background-color: #FDF5E6;
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
}
.responsive {
    float: right;
    margin-top: 25px;
    margin-right: 15%;
    display: none;
}
.responsive button {
    background-color: #F5DEB3;
    border: none;
    color: black;
    padding: 10px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.responsive button:hover {
    background-color: black;
    color: white;
}
.responsive-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.responsive-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.responsive-content a:hover {
    background-color: #ddd;
}
.responsive:hover .responsive-content {
    display: block;
}
@media screen  and (max-width: 900px) {
    .topnav {
        display: none;
    }
    .responsive {
        display: block;
    }
}
.banner {
    margin-top: 80px;
    background-color: black;
    position: relative;
    text-align: center;
    max-width: 100%;
    height: auto;
}
.banner img {
    opacity: 0.75;
    width: 100%;
}
.banner_text {
    position: absolute;
    text-transform: none;
    color: goldenrod;
    text-shadow: black 1px 0 10px;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.banner_text2 {
    position: absolute;
    text-transform: none;
    color: #FDF5E6;
    text-shadow: black 1px 0 10px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.row {
    display: flex;
    margin-top: 200px;
}
.mancare_st {
    flex: 50%;
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
    background-color: #FDF5E6;
}
.mancare_dr {
    flex: 50%;
    text-align: center;
    margin-left: 5%;
    margin-right: 10%;
    background-color: #FDF5E6;
}
/* .titlu_meniu {
    text-align: center;
    margin-top: 100px;
    color:slateblue;
}
.row {
    display: flex;
    margin-top: 50px;
}
.column1 {
    flex: 33%;
    text-align: center;
    margin-left: 10%;
    margin-right: 5%;
    font-size: 1.5vw;
}
.column2 {
    flex: 33%;
    text-align: center;
    margin-left: 5%;
    margin-right: 5%;
    font-size: 1.5vw;
}
.column3 {
    flex: 33%;
    text-align: center;
    margin-left: 5%;
    margin-right: 10%;
    font-size: 1.5vw;
}
 .column1 a{
    text-decoration: none;
    color:cornflowerblue;
    padding: 5px 20px;
    transition: 0.6s;
}
 .column1 a:hover {
    color: black;
} 
.column2 a{
    text-decoration: none;
    color: cornflowerblue;
    padding: 5px 20px;
    transition: 0.6s;
}
 .column2 a:hover {
    color: black;
} 
.column3 a{
    text-decoration: none;
    color: cornflowerblue;
    padding: 5px 20px;
    transition: 0.6s;
}
 .column3 a:hover {
    color: black;
}  */
.footer {
    margin-top: 500px;
    text-align: center;
    height: 300px;
    background-color: black;
    color: wheat;
}