*{
    margin: 0;
    padding: 0;
    font-family: 'Century Gothic';
}
.antet {
    background-color: #FDF5E6;
    text-align: center;
}
.antet img {
    width: 15%;
}
.ptbuton {
    margin-top: 25px;
}
.back {
    margin-left: 5%;
    text-decoration: none;
    color: black;
    padding: 10px 20px;
    border: 1px solid #F5DEB3;
    background-color: #F5DEB3;
}
.main form {
    margin-top: 50px;
    text-align: center;
}
.main form input {
    padding: 20px 64px;
}
.error {
    color:red;
    display: none;
}
